absl-py==0.9.0
alembic==1.1.0
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.8.1
attrs==19.1.0
beautifulsoup4==4.9.0
bleach==3.3.0
blinker==1.4
bottle==0.12.13
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
coverage==5.1
cryptography==2.1.4
cssmin==0.2.0
cycler==0.10.0
docker==2.5.1
docker-pycreds==0.2.1
Faker==2.0.1
flake8==2.4.0
Flask==1.1.2
Flask-Assets==0.12
Flask-Cache==0.13.1
Flask-Compress==1.4.0
Flask-DebugToolbar==0.10.0
Flask-KVSession==0.6.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-ReCaptcha==0.4.2
Flask-RQ==0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-SSLify==0.1.5
Flask-WTF==0.14.3
gast==0.3.3
google-pasta==0.2.0
grpcio==1.30.0
gunicorn==20.0.4
h5py==2.10.0
honcho==1.0.1
html5lib==0.9999999
httplib2==0.9.2
idna==2.9
importlib-metadata==1.6.1
influxdb==4.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsmin==2.2.2
jsonpickle==1.2
Keras==2.4.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
Mako==1.1.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==2.1.1
mccabe==0.3
netifaces==0.10.4
numpy==1.19.0
nvidia-ml-py3==7.352.0
oauth==1.0.1
olefile==0.45.1
packaging==19.1
pep8==1.5.7
pexpect==4.2.1
Pillow==5.1.0
pipupgrade==1.5.1
ply==3.11
protobuf==3.12.2
psutil==5.4.2
psycopg2==2.8.3
py==1.8.2
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
pycryptodomex==3.4.7
pycups==1.9.73
PyNaCl==1.1.2
pyparsing==2.4.2
pyRFC3339==1.0
pysmi==0.2.2
pysnmp==4.4.3
pystache==0.5.4
pytest==3.0.5
pytest-cov==2.4.0
python-dateutil==2.8.0
python-dotenv==0.12.0
python-editor==1.0.4
pytz==2018.3
pyxdg==0.25
PyYAML==5.3.1
raygun4py==4.3.0
redis==3.4.1
reportlab==3.4.0
requests==2.23.0
requests-unixsocket==0.1.5
rq==1.1.0
scipy==1.5.0
SecretStorage==2.3.1
simplejson==3.13.2
simplekv==0.14.1
six==1.15.0
soupsieve==2.0
SQLAlchemy==1.3.17
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
text-unidecode==1.2
urllib3==1.25.8
virtualenv==15.1.0
wadllib==1.3.2
webassets==2.0
websocket-client==0.44.0
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.1
zipp==3.1.0